<head>
  <meta charset="UTF-8">
  <title>Joe++</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Joe++
      </h1>
    </header>
    <nav>
      <a href="">Dashboard</a>
      <a href="/login">Login</a>
    </nav>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>