<div class="menu-container">
  <div class="card-header col-md-12 text-center">
    <h2>
      Recent Posts
    </h2>
  </div>
  {{#each posts as |post|}}
  <div class="post col-md-6">
    <p>
      {{post.id}}.
      {{post.content}}
    </p>
      {{#each post.comments as |comment|}}
      <p>{{comment.content}}</p>
      {{/each}}
  </div>

  {{/each}}

</div>
<script src="/js/add-dish.js"></script>
